.first-block {
    background: url(../project1/img/back2.jpg) no-repeat top / cover;
    padding-bottom: 1px;
}

.main-header {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 85px;
    padding: 0;
    margin: 0 auto;
    border: none;    
    background-color: #BEE5F1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 200px;
    /* height: 75px; */
    color: #4665D2;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    float: left;
    text-decoration: none;
    margin-left: 40px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: right;
    display: block;
    margin-right: 40px;

    width: 180px;
    height: 18px;
    background: #e4f2df;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px 16px;
    cursor: pointer;

    text-align: center;

}

.menu a {
    color: #080808;
    text-decoration: none;
    font-size: 16px;
}

.first_words {
    width: 1300px;
    height: 500px;

    margin: auto;
    margin-top: 70px;
    padding: 1px;
}


.text_f {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;

    width: 1300px;
    height: 100px;
}

.first_buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px; /* Расстояние между кнопками */
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

#click_but{
    padding: 10px;

    width: 215px;
    height: 80px;
    border-radius: 20px;
    background: #BDF0B9;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    font-family: Arial, sans-serif;

    cursor: pointer;


    /* justify-content: center;
    align-items: center;

    color: #000000;
    background-color: #BDF0B9; */
}



/* #movingButton {
    position: absolute;
  } */

.text_course{
    width: 715px;
    height: 60px;
    border-radius: 20px;
    background: #D9D9D9;
    text-align: center;

    margin: 15px auto;
    padding: 15px 0;

}

.container_name_module li {
    /* float: right;
    display: block;
    margin-right: 40px;

    width: 180px;
    height: 18px; */
    /* font-family: Arial, sans-serif; */
    /* border-radius: 10px;
    padding: 10px 16px; */
    cursor: pointer;

    text-align: center;

    display: inline-block; /* изменено */
    margin-right: 40px;

}

.container_name_module h2 {
    white-space: nowrap; /* добавлено */
    text-align: center;
}

/* .container_name_module a {
    color: #080808;
    text-decoration: none;
    font-size: 16px;
} */

.container_name_module {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; /* Выравнивание по вертикали */
    gap: 100px; /* Отступ между элементами */

    max-width: 1200px; /* Ограничиваем максимальную ширину */
    margin: 10px auto; /* Центрируем по горизонтали */

    justify-content:space-around;
    /* align-items: center; */
    list-style-type: none;

    /* width: 1215px;
    height: 40px; */
    background: #D9D9D9;
    text-align: center;

    /* margin: 15px auto;
    padding: 15px 0; */
}


.right-text {
    margin-right: 100px;
}

.left-text {
    margin-left: 10px;
}

.container_topic {
    display: grid;
    grid-template-columns: auto auto; /* Два столбца */
    align-items: center; /* Выравнивание по вертикали */
    gap: 20px; /* Отступ между элементами */

    max-width: 1210px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем по горизонтали */
  }
  
  .topic-info {
    flex: 1;
  }
  
  .topic-actions {
    margin-left: 10px; 
  }
  

.c_topic{
    /* display: block;
    justify-content:space-between; */
    /* align-items: center; */
    list-style-type: none;
/* 
    width: 595px;
    height: 112px; */
    
    /* text-align: center; */

    margin: 0;
}

.c_topic li{
    text-align: center;
}

/* .text_topic {
    margin-right: 0;
  } */

.button-row {
    display: grid;
    
    grid-template-columns: repeat(3, auto); /* Три столбца для трех кнопок */
    justify-content: end; /* Центрируем содержимое по горизонтали */
    gap: 40px; /* Отступ между кнопками */
    grid-column: 2; /* Размещаем кнопки во втором столбце */
    
  }
  
  .button_teor {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px black solid;


    background-color: #96A2E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button_task {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px black solid;


    background-color: #D6EADB;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .button_practice {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px black solid;


    background-color: #F0EDB9;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .button:last-child {
    margin-right: 0;
  }
  
  .custom-hr {
    /* margin-left: 27px;
    margin-right: 27px; */

    margin: 20px 0; /* Задаем отступы */
    border: none; /* Убираем стандартные границы */
    border-top: 1px solid #000000; /* Устанавливаем стиль верхней границы */
}



/* Стили для кнопки с перемещением */

/* .button-group {
    display: inline-flex;
    margin-right: auto;
}

.button:last-child {
    background: #9BC1DD;
}

.button:hover {
    background: #e7e6e6;
}

.button {
    width: 180px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px 16px;
    cursor: pointer;


} */


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.container_course {
    width: 1287px;
    height: 620px;
    border-radius: 10px;
    background: #EEEDED;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
}

.text_c {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;

    width: 1142px;
    height: 100px;
}

.ans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; /* Расстояние между кнопками */
    justify-content: center;
    align-items: center;
}

.but{
    
    padding: 10px;
    font-size: 16px;

    width: 350px;
    height: 80px;
    border-radius: 20px;
    background: #D9D9D9;
    text-align: center;
    margin: auto;

    cursor: pointer;
}



.but.selected {
    background-color: #9FA3AC;
    color: black;
}


.function_buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    margin-top: 35px;
}

#previos_task {
    width: 143px;
    height: 52px;
    background-color: #F0EDB9;
    text-align: center;
    color: #000000;
}

#check_ans {
    width: 143px;
    height: 52px;
    background-color: #2ecc71;
    text-align: center;
    color: #000000;

    cursor: pointer;
}

.correct {
    background-color: #78F06D; /* Зеленый цвет для правильного ответа */
    color:#000000;
}

.incorrect {
    background-color: #F00F0F; /* Красный цвет для неверного ответа */
    color: #000000;
}


/* Ваши стили для модального окна */
.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 450px;
    height: 15px;
  }
  
  .modal-content {
    background-color:#F0E8BB;
    margin: 21% auto;
    width: 50%;

    text-align: center;
    padding: 10px; 
  }
  
  .show-modal {
    display: block;
  }
  

#next_task {
    width: 143px;
    height: 52px;
    background-color: #F0EDB9;
    text-align: center;
    color: #000000;
}

.main-footer {
    background: #BEE5F1;
    width: 100%;
    height: 70px;
    padding: 0;
    margin-top: 20px;

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


article h2 {
    font-size: 36px;
    font-weight: 500;

    margin: 5px 0px 20px 5px;
}

.footer-text {
    margin-right: 40.5%;
}